@using Microsoft.AspNetCore.Identity
@using Task_4.Areas.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

    @if (SignInManager.IsSignedIn(User))
    {
        <div>
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </div>
        <div>
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-light">Logout</button>
            </form>
        </div>
    }
    else
    {
        <div>
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </div>
        <div>
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </div>
    }
